* {
    box-sizing: border-box;
}


/* --- Nav leiste und buttons --- */
#navigation > ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;

}

#navigation > ul > li {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav{
    background-color: Black;
    padding: 2px
}

/* --- Burger --- */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.burger > span {
    color: white;
    height: 10px;
    border-bottom: 1px solid white;
}

/* --- Animation --- */

.line {
    fill: none;
    stroke: black;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 24 200;
}

.line2 {
    stroke-dasharray: 24 60;
}

.line3 {
    stroke-dasharray: 24 100;
}

.opened .line1 {
    stroke-dasharray: 24 200;
    stroke-dashoffset: -52;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}
.opened .line3 {
    stroke-dasharray: 24 200;
    stroke-dashoffset: -200;
}


/* --- Nav punkte --- */
.Galeries{
    color: Lime;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

.home{
    color: Lime;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

/* --- Button hover --- */
.Galeries:hover{
    background-color: Green;
}

.home:hover{
    background-color: Green;
}

/* --- Formular --- */
form.search input[type=text] {
    padding: 5px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 200px;
    background: #f1f1f1;
    height: 30px;
}

form.search button {
    width: 20%;
    padding: 5px;
    background: #32CD32;
    color: White;
    font-size: 13px;
    border: 1px solid grey;
    border-left: none;
    height: 30px;
}

form.search button:hover {
    background: #006400;
}

/* --- Bilder --- */
.veggiesimg{
    padding-top: 20px;
    display: block;
    margin-left: 50px;
    margin-right: 80px;

}

.dia {
    width: calc(100vw - 130px);
}

.gallery {
    border: 2px solid Black;
    padding: 30px;
    margin: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    flex-basis: auto;

}

/* --- Hover --- */
.gallery:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

/* --- Image container --- */
.flex-container{
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;

}

/* --- Footer --- */

footer
{
    background-color: black;
    font-size:15px;
    color:white;
    font-family: arial;
    text-indent: 10px;
    text-decoration: none;
}
footer a:hover
{
    color:#32CD32;
    text-decoration:none;
}

.footerhyp{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

h6 {
    padding-top: 20px;
    font-family: arial;
    font-size: 20px;
}


