* {
    box-sizing: border-box;
}


/* Nav leiste und buttons */
#navigation > ul {
    list-style-type: none;
}

#navigation > ul > li {
    display: inline-block;
    width: 30%;
}

nav{
    background-color: Black;
    padding: 2px
}

.Galeries{
    color: Lime;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

.home{
    color: Lime;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

/* Button hover */
.Galeries:hover{
    background-color: Green;
}

.home:hover{
    background-color: Green;
}

/* Formular */
form.search input[type=text] {
    padding: 5px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 200px;
    background: #f1f1f1;
    height: 30px;
}

form.search button {
    width: 20%;
    padding: 5px;
    background: #32CD32;
    color: White;
    font-size: 13px;
    border: 1px solid grey;
    border-left: none;
    height: 30px;
}

form.search button:hover {
    background: #006400;
}

/*Bilder*/
.veggiesimg{
    padding-top: 20px;
    display: block;
    margin-left: 50px;
    margin-right: 80px;

}

.dia {
    width: calc(100vw - 130px);
}

div.gallery {
    border: 2px solid Black;
    padding: 30px;
    margin: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.gallery:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

/*Image container*/

.flex-container{
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    display: flex;

}


