* {
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to left bottom, #40be56, #00bc92, #00b4c4, #00a8e2, #0096e4, #0099e7, #009ceb, #009fee, #00b8f8, #00d0fa, #00e6f7, #5ffbf1);
}


/* --- Nav leiste und buttons --- */
#navigation > ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;

}

#navigation > ul > li {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    background-color: #333;
    padding: 2px;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 640px) {
  #navigation ul {
      display: none;
  }
}

/* --- Nav Dia --- */
.dia{display:none}
.button-left, .button-right, .border {cursor:pointer}
.border {height:13px;width:13px;padding:0}

/* --- Burger --- */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    align-self: center;
}

.burger > span {
    color: #00c9a7;
    height: 10px;
    border-bottom: 1px solid #00c9a7;
}

/* ---  Burger Drop Down --- */
a {
    color: #fff;
    text-decoration: none;
}

.link1-menu.opened {
    height: 240px;
    border: 2px solid #00c9a7;
    padding: 20px;
}

.link1-menu {
    width: 100%;
    background-color: #333;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0px;
    list-style: none;
    clear: both;
    width: auto;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 0;
    position: absolute;
    top: 77px;
    right: 8px;
}

.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', arial;
}

.link1:hover {
    background-color: Black;
    color: #00c9a7;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* --- Animation / SVG --- */
.line {
    fill: none;
    stroke: #00c9a7;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 24 200;
}

.line2 {
    stroke-dasharray: 24;
}

.line3 {
    stroke-dasharray: 24 100;
}

.opened .line1 {
    stroke-dasharray: 24 200;
    stroke-dashoffset: -47;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}
.opened .line3 {
    stroke-dasharray: 24 200;
    stroke-dashoffset: -47;
}


/* --- Nav Punkte --- */
.Galeries{
    color: #4A7BD6;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

.home{
    color: #5FFBF1;
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
}

/* --- Button hover --- */
.Galeries:hover{
    background-color: black;
    color: cyan;
    -webkit-border-radius: 9px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.home:hover{
    background-color: black;
    color: white;
    -webkit-border-radius: 9px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* --- Intro Dia Image Slide --- */
.dia{
    display:none;
    width: calc(100vw - 130px);
    height: 550px;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.dot {
    height:13px;
    width:13px;
    padding:0;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;

}

.dot.white {
    background-color: #4d8076;
}

.dot-nav{
    padding-top: 300px;
}

.bottommiddle{
    display: flex;
    position: relative;
    top: -350px;
    color: #10d7a6;
    font-size: 80px;
    justify-content: space-between;
}

/* --- Ipsum Text --- */

.h3-title{
    text-indent: 20px;
    color: black;
}

.impsum{
    text-indent: 20px;
    padding: 50px;
    text-align: left;
    background-color: #72e7a1;
    border-left: 7px solid darkgreen;
}


/* --- Bilder --- */
.veggiesimg{
    padding-top: 20px;
    display: block;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: -300px;

}

.gallery {
    border: 2px solid Black;
    padding: 30px;
    margin: 50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    flex-basis: auto;

}

/* --- Hover --- */
.gallery:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

/* --- Image container --- */
.flex-container{
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;

}

/* --- Footer --- */
footer
{
    background-color: #333;
    font-size:15px;
    color: #5FFBF1;
    font-family: arial;
    text-indent: 10px;
    text-decoration: none;
}
footer a:hover
{
    color:#00c9a7;
    text-decoration:none;
}

.footerhyp{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

h6 {
    padding-top: 20px;
    font-family: arial;
    font-size: 20px;
}





